@charset "UTF-8";
body {
  margin: 0;
  font-family: "ヒラギノ角ゴシック", "Arial", sans-serif;
  color: #333;
}

body h1,
body p,
body dl {
  margin: 0;
  line-height: 1;
}

body h1 {
  font-weight: bold;
  color: #007BFF;
  margin: 0 auto;
  font-size: 26px;
  letter-spacing: 0.03em;
}

body img {
  width: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
}

body .primary-btn {
  background-color: #007BFF;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  width: 180px;
  height: 50px;
  border: none;
}

body .primary-btn:hover {
  opacity: 0.8;
}

body .primary-btn:active {
  position: relative;
  top: 1px;
}

header {
  text-align: center;
}

header img {
  display: block;
}

header .logo {
  margin: 18px auto 15px;
  width: initial;
}

header .sp_mv,
header .pc-mv {
  width: 100vw;
}

header .pc_mv {
  display: none;
}

.container {
  margin: 0 20px;
}

#news {
  margin: 50px 0 60px;
  text-align: center;
}

#news h1 {
  margin-bottom: 5px;
}

#news p {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
  letter-spacing: 0.03em;
}

#news dl {
  text-align: left;
  font-size: 14px;
}

#news dl dt {
  margin: 15px 0;
}

#news dl dd {
  margin: 0 0 15px 0;
  line-height: 1.7;
}

#news dl hr {
  color: #EDEDED;
}

main {
  margin-bottom: 60px;
}

main h1 {
  margin: 20px 0 15px;
  font-size: 24px;
  font-weight: 600;
  color: #007BFF;
  letter-spacing: normal;
  line-height: 1.5;
}

main p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.8;
}

#service {
  text-align: center;
  margin-bottom: 50px;
}

#service > p {
  margin: 5px 0 20px;
  letter-spacing: 0.03em;
}

#service p {
  margin: 10px 0 30px;
}

footer {
  background-color: #1F1F1F;
  color: #7B7B7B;
  text-align: center;
}

footer p {
  padding: 25px;
  font-size: 11px;
}

@media (min-width: 680px) {
  header .sp_mv {
    display: none;
  }
  header .pc_mv {
    display: initial;
  }
  #news {
    margin: 80px auto 100px;
    max-width: 760px;
  }
  #news h1 {
    margin-bottom: 8px;
  }
  #news p {
    margin-bottom: 15px;
    font-size: 13px;
  }
  #news dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #news dl dt {
    width: 122px;
    margin: 0;
  }
  #news dl dd {
    line-height: 1.8;
    width: 638px;
    margin: 0;
  }
  #news dl hr {
    width: 100%;
    margin: 15px 0;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
  }
  main img {
    width: 50%;
  }
  main div {
    margin: auto 20px;
  }
  main h1 {
    margin-bottom: 30px;
  }
}

@media (min-width: 1110px) {
  body h1 {
    font-size: 32px;
  }
  .primary-btn {
    font-size: 15px;
    width: 200px;
    height: 55px;
  }
  header .logo {
    margin: 30px auto 29px;
  }
  main div {
    margin: auto 70px;
  }
  #service {
    margin-bottom: 80px;
  }
  #service #services {
    margin: 0 auto 40px;
    width: 1110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #service #services .service {
    margin: 0 30px;
  }
  #service #services img {
    width: 350px;
  }
  #service #services p {
    margin-bottom: 0;
  }
  footer p {
    padding: 39px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=styles.css.map */